@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
.logo{
    font-family: 'GlacialIndifferenceRegular';
    font-weight: bolder;
    font-style: normal;
    font-size: 2rem;
    margin-bottom: -3px;
    color: rgb(19, 19, 63);
}
.logo1{
    font-family: 'Homemade Apple', cursive;
    font-weight: bolder;
    font-style: normal;
    font-size: 2rem;
   
}

.navbar .navbar-toggler .text-primary{
    display: block;
    transition: 500ms;
    /* border: none !important; */
}

.navbar .navbar-toggler .text-primary:active{
    display: block;
    transform: rotate(300deg);
    /* border-style: none !important; */
}

.navbar-nav .nav-link{
    color: black;
}
img{
    max-width: 100%;
    height: auto;
}

